body {
  padding-top: 50px;
}

main .input-pane,
main .output-pane {
    height: calc((100vh - 50px) / 2);
    overflow: auto;
}

main .input-pane {
    padding: 0px;
}

#editor,
#save {
  height: 100%;
}

@media (min-width: 992px) {
    main .input-pane,
    main .output-pane {
        height: calc(100vh - 50px);
    }
}
